* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: system-ui;
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countries {
  margin: 8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 20px;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}

.neighbour::before {
  content: 'Neighbour country';
  width: 100%;
  position: absolute;
  top: -4rem;

  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #888;
}

.neighbour {
  transform: scale(0.8) translateY(1rem);
  margin-left: 0;
}

.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country__region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}

.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}

.btn-country {
  border: none;
  font-size: 2rem;
  padding: 2rem 5rem;
  border-radius: 0.7rem;
  color: white;
  background-color: orangered;
  cursor: pointer;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 40rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

/* ///////// */
.preloader {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffffff;
  opacity: 0;
  backface-visibility: hidden;
  transition: all 0.5s ease;
}

.loader {
  position: absolute;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: solid 5px transparent;
  border-top: solid 5px #00adb5;
  -webkit-animation: loader 1000ms linear infinite;
  animation: loader 1000ms linear infinite;
}

.loader::before {
  position: absolute;
  top: 13px;
  right: 10px;
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #00adb5;
  -webkit-box-shadow: 0 0 10px #00adb56d, 0 0 15px #00adb5ad, 0 0 25px #00adb5dd;
  box-shadow: 0 0 10px #00adb56d, 0 0 15px #00adb5ad, 0 0 25px #00adb5dd;
}

.ring {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom: 5px solid #00fff5;
  -webkit-animation: ring 1000ms linear infinite;
  animation: ring 1000ms linear infinite;
}

.ring::before {
  position: absolute;
  top: 85px;
  right: 6px;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #00fff5;
  -webkit-box-shadow: 0 0 20px #00fff55f, 0 0 35px #00fff5ff, 0 0 55px #00fff5f5;
  box-shadow: 0 0 20px #00fff55f, 0 0 35px #00fff5ff, 0 0 55px #00fff5f5;
}

.ring-1 {
  width: 75px;
  height: 75px;
  position: absolute;
  border-radius: 50%;
  border: 5px solid transparent;
  border-bottom: 5px solid #00adb5;
}

.ring-1::after,
.ring-1::before {
  position: absolute;
  content: '';
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00adb5;
  -webkit-box-shadow: 0 0 20px #00adb5ff, 0 0 35px #00fff5ff, 0 0 55px #00fff5f5;
  box-shadow: 0 0 20px #00adb5ff, 0 0 35px #00fff5ff, 0 0 55px #00fff5f5;
}

.ring-1::after {
  left: 10px;
  top: 20px;
}

.ring-1::before {
  top: 20px;
  right: 10px;
}

@-webkit-keyframes loader {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes ring {
  0% {
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes ring {
  0% {
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
